@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

