:root {
	--container-width: 743px;
	--container-padding: 12px 18px 15px 22px;

	--font-main: sans-serif;
	--font-accent: "Inter", sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: var(--base-100-white);

	--base-100-white: #fff;
	--base-200: #f6f8ff;
	--base-300: #f2f4f7;
	--base-400: #eaecf0;
	--base-500: #747d8a;
	--base-600: #475467;
	--base-700: #3e4456;
	--base-800-black: #101828;
	--accent-800: #4e4be7;
	--accent-700: #605de5;
	--accent-600-primary: #6a67f8;

	--bg-color-main: #3579F5;
	--bg-color-tags: #2364db;


  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
